<nz-header class="app-header">
    <!-- <div nz-row [nzGutter]="[10, 0]" nzJustify="start">
      <div nz-col class="gutter-row sidebar-logo" [nzXs]="24" [nzMd]="24" [nzXl]="5">
        <a>
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Sukan.fr</h1>
        </a>
      </div>
      <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="12" [nzXl]="8">
        <app-date-select></app-date-select>
      </div>
      <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="12" [nzXl]="8">
        <app-sport-select></app-sport-select>
      </div>
    </div> -->
    <div nz-col class="gutter-row sidebar-logo" [nzXs]="24" [nzMd]="24" [nzXl]="5">
      <a>
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Sukan.fr</h1>
      </a>
    </div>
</nz-header>