span {
    background: #52c41a;
    padding: 22px 10px 22px 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
}

nz-card {
    height: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #1890ff;
    box-shadow:  -1px 1px #1890ff,
         -2px 2px #1890ff,
         -3px 3px #1890ff,
         -4px 4px #1890ff,
         -5px 5px #1890ff;
}

nz-tag {
    width: 100%;
    font-weight: bold;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
}

