.menu {
    margin: 5px 0px 0px 5px;
    overflow-y: auto;
    height: calc(100vh - 165px);
    border: 1px solid #1890ff;
    box-shadow:  -1px 1px #1890ff,
         -2px 2px #1890ff,
         -3px 3px #1890ff,
         -4px 4px #1890ff,
         -5px 5px #1890ff;
}

ul {
    border-right: unset;
}

li {
    padding: 10px;;
}

.badge-red {
    background: red;
    padding: 0px 6px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    margin: 0px 2px;
}

.badge-green {
    background: #52c41a;
    padding: 0px 6px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    margin: 0px 2px;
}